@{
    ViewData["Title"] = "Contact";
}

<body>
    <div class="section section-header">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>
        <address>
            <strong>Contact:</strong> <a href="mailto:g.tonazzo2@campus.unimib.it">g.tonazzo2@campus.unimib.it</a><br />            
        </address>
    </div>
</body>
