@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="section section-header">
        <div class="parallax filter filter-color-black">
            <div class="image"
                 style="background-image: url('assets/img/header-1.jpeg')">
            </div>
            <div class="container">
                <div class="content">
                    <div class="title-area">
                        <p>Big Data &</p>
                        <h1 class="title-modern">Philosophy</h1>
                        <h2>
                            Content-based bibliographical research
                        </h2>
                        <div class="separator line-separator">♦</div>
                    </div>
                    <div class="button-get-started">                        
                        <a href="#features" class="btn btn-white btn-fill btn-lg">
                            Features
                        </a>                                               
                        <a href="/Articles/Index" class="btn btn-white btn-fill btn-lg">
                            Search
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="features" class="section">
        <div class="container">
            <div class="row">
                <div class="title-area">
                    <h2>Features</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description">Leveraging Big data and Machine learning for content-based research in Philosophy</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-graph1"></i>
                        </div>
                        <h3>Semantic search</h3>
                        <p class="description">We identify the most relevant concepts and categories related to your research.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-note2"></i>
                        </div>
                        <h3>Relevant articles</h3>
                        <p class="description">We suggest articles you may be interested in reading.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            <i class="pe-7s-study"></i>
                        </div>
                        <h3>Bibliographical research</h3>
                        <p class="description">We automatically extract bibliographical references.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

